:host {
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }
  }
}

form {
  display: flex;
}

mat-form-field {
  flex-grow: 1;
}

button {
  margin-left: 16px;
}
